html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	scroll-behavior: initial;
}

h1 {
	padding: 2%;
	margin: 0px;
}

nav {
	border-style: outset;
	border-width: thick;
	padding: 3px;
	margin: 0px;
}

div.row {
	height: 100%;
}

div.sidebar {
	border-style: inset;
	border-width: thick;
	text-align: center;
	font-size: 2.5vw;
}

.collapsing {
	-webkit-transition: none;
    transition: none;
    display: none;
}

a.nav_link {
	padding: 0px;
}

@media only screen and (max-width: 465px) {
	h1 {
		border-style: solid;
		border-width: thin;
		border-radius: 5px;
		border-color: grey
	  }
	div.navItems {
		text-align: center;
	  }
}