html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	scroll-behavior: initial;
}

.row {
	background-color: rgba(51, 54, 255, 0.507);
	font-family:'Trebuchet MS', sans-serif;
}

.col-3 {
	background-color: rgba(184, 184, 184, 0.795);
}

h1 {
	padding: 2%;
	margin: 1%;
	margin-left: 2%;
	font-family: fantasy;
	border-style: outset;
	border-width: thick;
	border-color: chartreuse;
	background-color: white;
	font-size: 3em;
}

h3 {
	font-size: 3vw;
}

nav {
	border-style: outset;
	border-width: thick;
	border-color: chartreuse;
	background-color: rgba(98, 0, 226, 0.479);
	padding: 3px;
	margin: 0px;
}

div.row {
	height: 100%;
	text-align: center;
}

div.navItems {
	padding: 1%;
}

div.sidebar {
	border-style: inset;
	border-width: thick;
	border-color: chartreuse;
	text-align: center;
	font-size: 2vw;
}

.btn {
	font-family: fantasy;
}

.collapsing {
	-webkit-transition: none;
    transition: none;
    display: none;
}

a.nav_link {
	padding: 0px;
}

@media only screen and (max-width: 465px) {
	nav {
		display: flex;
		justify-content: center;
	} 
}